# GitHub Container Registry credentials
GITHUB_USER=avilior
GITHUB_TOKEN=ghp_your_personal_access_token_here

# Flights BFF settings
FLIGHTS_BFF_HOST=0.0.0.0
FLIGHTS_BFF_PORT=8123
FLIGHTS_BFF_LOG_LEVEL=INFO
FLIGHTS_BFF_FLIGHTS_BACKEND_URL=http://localhost:8300/api
FLIGHTS_BFF_CALLBACK_URL=http://localhost:8123/api
FLIGHTS_BFF_AUTH_TOKEN=tok-acme-001

# Places BFF settings
PLACES_BFF_HOST=0.0.0.0
PLACES_BFF_PORT=8124
PLACES_BFF_LOG_LEVEL=INFO
PLACES_BFF_PLACES_BACKEND_URL=http://localhost:8200/api
PLACES_BFF_CALLBACK_URL=http://localhost:8124/api
PLACES_BFF_AUTH_TOKEN=tok-acme-001

# Places backend settings
PLACES_HOST=0.0.0.0
PLACES_PORT=8200
PLACES_LOG_LEVEL=INFO
PLACES_BFF_TOKEN=tok-acme-001

# Flights backend settings
FLIGHTS_HOST=0.0.0.0
FLIGHTS_PORT=8300
FLIGHTS_LOG_LEVEL=INFO
FLIGHTS_BFF_TOKEN=tok-acme-001
