# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
*.egg-link
.installed.cfg
MANIFEST
.env
.venv/
uv.lock
venv/
ENV/
env/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
*.log

# PyCharm / JetBrains
.idea/
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/shelf
.idea/contentModel.xml
.idea/dataSources/
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/libraries
*.iws
out/
*.iml

# macOS
.DS_Store
.AppleDouble
.LSOverride